body{
    background-color: black;

    height: 95vh;
    width: 95;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}